.table-cursor{
  cursor: pointer;
}

.position{
  top:-11px;
  left:0;
}

#table{ 
  display: table; 
}
.tr{ 
  display: table-row; 
}
.td{ 
  display: table-cell; 
  width: 100px;
}

::ng-deep .ant-tree .ant-tree-node-content-wrapper{

  width:100%
}