.table-cursor{
  cursor: pointer;
}

.position{
  top:-11px;
  left:0;
}

#table{ 
  display: table; 
}
.tr{ 
  display: table-row; 
}
.td{ 
  display: table-cell; 
  width: 100px;
}

::ng-deep .ant-tree .ant-tree-node-content-wrapper{
  width:100%
}

::ng-deep .ant-tree-checkbox{
  margin: 10px 8px 0 0;
}

div .only-show-on-hover {
  visibility: hidden;
}
div:hover .only-show-on-hover  {
  visibility: visible;
}