<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="nzSelect()">В заявку</button>
    </div>
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Export xlsx</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export pdf</button>
    </div>

    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-danger" >Удалить</button>
    </div>
  </div>
</div>
<ng-container *ngIf="nodes"> 
  <div class="d-flex header-dashboard justify-content-between">
    <h2>Прайс лист</h2>
    <i class="material-icons" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">filter_list</i>
  </div>

  <div *ngIf="isCollapsed">
    <div class="card card-body">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-outline-secondary">Поиск</button>
              <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Статус</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Наименование</a>
                <a class="dropdown-item" href="#">Артикул</a>
                <a class="dropdown-item" href="#">Код</a>
              </div>
            </div>
            <input type="text"  class="form-control"  [(ngModel)]="searchValue" />
            <!--<input type="text" class="form-control" id="filter" #filter (keyup)="filterFn(filter.value, tree.treeModel)" placeholder="">-->
          </div>
    </div>
  </div>
    <nz-tree
      #nzTreeComponent
      [nzData]="nodes"
      nzCheckable
      [nzExpandedKeys]="expandedNodeList"
      [nzSearchValue]="searchValue"
      (nzDblClick)="nzClick($event)"
      (nzContextMenu)="nzClick($event)"
      (nzCheckBoxChange)="nzCheck($event)"
      (nzExpandChange)="nzOpen($event)"
      [nzTreeTemplate]="nzTreeTemplate">
    </nz-tree>

<ng-template #nzTreeTemplate let-node let-origin="origin">

  <div *ngIf="!node.origin.price" class="d-flex justify-content-between border-bottom border-top" colspan="6">
    {{ node.title }}
    <div>
      <i class="material-icons pr-1" (click)="showModalProduct(node.origin.id, 'group', 'new', 'Новая категория')">playlist_add</i>
      <i class="material-icons">delete_sweep</i>
    </div>
  </div>

  <div *ngIf="node.origin.price" class="d-flex justify-content-between border-bottom border-top p-1">
    <div  class="d-flex">
      <div class="pr-2">{{ node.origin.id }}</div>
      <div >{{ node.title }}</div>
    </div>
    <div class="d-flex justify-content-end">
      <div  [ngClass]="{'bg-warning': node.origin.price < node.origin.trade_price*1.2, 'bg-danger': node.origin.price < node.origin.trade_price*1.1}" class="tr ">
        <div class="td pr-2 position-relative">
          <span>{{ node.origin.articul }}</span>
          <small class="text-muted position-absolute position">Артикул</small>
        </div>
        <div class="td pr-2 position-relative">
          <span>{{ node.origin.stock }}</span>
          <small class="text-muted position-absolute position">Склад</small>
        </div>
        <div class="td pr-2 position-relative" >
          <span>{{ (node.origin.price).toFixed(2) }}</span>
          <small class="text-muted position-absolute position">Цена</small>
        </div>
        <div class="td pr-2 position-relative" >
          <span>{{ (node.origin.trade_price).toFixed(2) }}</span>
          <small class="text-muted position-absolute position">Цена СМ</small>
        </div>
      </div>
    </div>


  </div>

</ng-template>

</ng-container>