<div class="row">
    <div class="col-md-6">
        <img src={{url}} width='500px' alt='Загрузка...'/>
    </div>
    <div class="col-md-6">
        <form [formGroup]="form" class="mb-1" *ngIf="form" (ngSubmit)="submit()">

            <div class="d-flex input-group mb-1">
        
                <div class="input-group-prepend ">
                    <span class="input-group-text cw">Артикул:</span>
                </div>
                <input type="text" class="form-control mr-1" formControlName="articul" placeholder="Артикул" >
            </div>
            <div class="d-flex input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text cw">Цена см: </span>
                </div>
                    <input type="text" class="form-control" formControlName="trade_price" placeholder="Цена поставщика" > 
            </div>
            <div  class="d-flex input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text cw">Склад см: </span>
                </div>
                    <input *ngIf="currentProductCountCm$ | async as count;" type="text" class="form-control" value="{{count.count}}" [disabled]="true">
                    
            </div>
            <div  class="d-flex input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text cw">Кол-во: </span>
                </div>
                    <input type="number" [ngClass]="{'border border-danger' : form.get('count').invalid && form.get('count').touched}" class="form-control"  formControlName="count" placeholder="0">
            </div>
            <div class="d-flex justify-content-between">
                <div class=" btn-group mt-2">
                    <button type="submit" [disabled]="form.controls.invalid" class="btn btn-outline-success mr-1">В заявку</button>
                    <button type="button" (click)="close()" class="btn btn-outline-danger mr-1">Отмена</button>
                </div>

                <div class=" btn-group mt-2">
                    <button class="btn btn-outline-info mr-1">История цен</button>
                </div>
            </div>

          </form>
          <h5>Добавить в заказ</h5>
          <form [formGroup]="toOrderForm" class="mb-1" *ngIf="toOrderForm" (ngSubmit)="toOrderSubmit()">

            <div class="d-flex input-group mb-1">
                    <div class="input-group-prepend ">
                        <span class="input-group-text cw">Количество:</span>
                    </div>
                    <input type="number" class="form-control mr-1" formControlName="quantity" placeholder="0">
                    <div class="input-group-prepend ">
                        <span class="input-group-text cw">Процент:</span>
                    </div>
                    <input type="number" class="form-control mr-1" (input)="setPrice()" formControlName="percent" placeholder="0">
                    <div class="input-group-prepend ">
                        <span class="input-group-text cw">Цена:</span>
                    </div>
                    <input type="number" class="form-control mr-1"  formControlName="price" placeholder="0">

            </div>
            <div class=" btn-group mt-2">
                <button type="submit" [disabled]="toOrderForm.invalid" class="btn btn-outline-success mr-1">Добавить в заказ</button>
                <button type="button" (click)="close()" class="btn btn-outline-danger mr-1">Отмена</button>
            </div>
          </form>

    </div>

</div>
<div class="row">
    <div class="col-md-12" *ngIf="lineChartData">
        <canvas baseChart  height="60"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [type]="lineChartType">
        </canvas>
    </div>
</div>