<div
  class="
    d-flex
    justify-content-between
    flex-wrap flex-md-nowrap
    align-items-center
    pt-3
    pb-2
    mb-3
    border-bottom
  "
>
  <h1 class="h2"></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button
        type="button"
        (click)="showModal()"
        class="btn btn-sm btn-outline-secondary"
      >
        Добавить
      </button>
    </div>
  </div>
</div>
<div class="d-flex header-dashboard justify-content-between">
  <h2>Заказы</h2>
  <i class="material-icons" (click)="visible = !visible"
    >filter_list</i
  >
</div>
<div *ngIf="visible">
  <div class="card card-body">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-outline-secondary">
          Поиск
        </button>
        <button
          type="button"
          class="
            btn btn-outline-secondary
            dropdown-toggle dropdown-toggle-split
          "
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="sr-only">Статус</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Закрытые</a>
          <a class="dropdown-item" href="#">Открытые</a>
        </div>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Фамилия Имя Отчество"
        aria-label="Text input with segmented dropdown button"
      />
    </div>
  </div>
</div>

<table class="table table-bordered table-hover" *ngIf="orders">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ФИО</th>
      <th scope="col">Сумма</th>
      <th scope="col">Оплачено</th>
      <th scope="col">Остаток</th>
      <th scope="col">Дата</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of orders; let i = index">
    <tr [routerLink]="[item.id]">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item.client.fullname }}</td>
      <td>{{ item.total }}</td>
      <td>{{ item.current }}</td>
      <td
        [ngClass]="{
          'bg-success': item.status === 1,
          'bg-warning': item.status === 0
        }"
      >
        {{ item.total - item.current }}
      </td>
      <td>{{ item.data | date }}</td>
    </tr>
  </tbody>
</table>
