<div
class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<h2 class="h2">История возвратов</h2>
<div class="btn-toolbar mb-2 mb-md-0 flex justify-content-between">

  <div class="btn-group mr-2">
    <button type="button" (click)="getDataWithDate()" class="btn btn-sm btn-outline-secondary">Показать</button>
    <button type="button" (click)="openModal(createReturnSale)" class="btn btn-sm btn-outline-secondary">Добавить</button>
    <button type="button" class="btn btn-sm btn-outline-secondary">Печать</button>
  </div>
  <div class="btn-group mr-2">
    <input type="text"
           placeholder="Daterangepicker"
           class=""
           bsDaterangepicker
           [(ngModel)]="daterangepickerModel"
           placement="bottom right">
  </div>
  <!--<input type="date" min="2021-01-01" [ngModel] ="dt | date:'yyyy-MM-dd'" (ngModelChange)="dt = $event">-->
</div>
</div>
<div class="table-responsive">
          <div class="d-flex header-dashboard">
              
            <i class="material-icons" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">filter_list</i>
            </div>
            <div id="collapseBasic" [collapse]="isCollapsed">
              <div class="card card-body">

                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <button type="button" class="btn btn-outline-secondary">Поиск</button>
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Наименование</a>
                          <a class="dropdown-item" href="#">Код</a>
                        </div>
                      </div>
                      <ng-select [items]="praisList$ | async"
                            placeholder="Поиск"
                            class="custom-search"
                            bindLabel="title" 
                            bindValue="id" 
                            (change)="onChange($event)">
                      </ng-select>
                    </div>
              </div>
              
            </div>
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Код</th>
              <th scope="col">Наименование</th>
              <th scope="col">Количество</th>
              <th scope="col">Цена</th>
              <th scope="col">Сумма</th>
              <th scope="col">Дата</th>
            </tr>
          </thead>
          <tbody *ngFor="let element of returnSales$ | async; let i = index">

            <tr *ngIf="element.visible">
              <th scope="row">{{i+1}}</th>
              <td>{{element.sale.product.id}}</td>
              <td>{{element.sale.product.title}}</td>
              <td>{{element.quantity}}</td>
              <td>{{element.sale.price  | currency:'RUB': ' '}}</td>
              <td>{{element.quantity*element.sale.price  | currency:'RUB': ' '}}</td>
              <td>{{element.data | date:'medium'}}</td>
            </tr>

          </tbody>
        </table>
</div>

<ng-template #createReturnSale>
  <create-return-sale></create-return-sale>
</ng-template>
