<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Export xlsx</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export pdf</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-calendar">
        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
        <line x1="16" y1="2" x2="16" y2="6"></line>
        <line x1="8" y1="2" x2="8" y2="6"></line>
        <line x1="3" y1="10" x2="21" y2="10"></line>
      </svg>
      This week
    </button>
  </div>
</div>

    <div class="d-flex header-dashboard">
      <h2>Cписок атрибутов групп товаров</h2>
      <div>
        <i class="material-icons" (click)="addNew()">add</i> 
        <i class="material-icons" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">filter_list</i>
      </div>

    </div>
  
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-outline-secondary">Поиск</button>
                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Статус</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Наименование</a>
                </div>
              </div>
              <input type="text" class="form-control" id="filter" placeholder="">
            </div>
      </div>
    </div>

    <table class="table table-striped" *ngIf="attrList !== null">
      <tbody>
        <tr>
          <th>№</th>
          <th>Кратно уп.</th>
          <th>Масса</th>
          <th>В уп-ве.</th>
          <th>Ширина</th>
          <th>Длина</th>
          <th>Толщина</th>
          <th>Произв.</th>
          <th>Покрытие</th>
          <th>Описание</th>
        </tr>
        <tr *ngFor="let data of attrList"  class="table-cursor" (click)="onEvent(data.id)">
            <td>{{data.id}}</td>
            <td><span >{{data.only_box == 1 ? 'Да' : 'Нет'}}</span></td>
            <td>{{data.mass}}</td>
            <td>{{data.in_box}}</td>
            <td>{{data.width}}</td>
            <td>{{data.lenght}}</td>
            <td>{{data.height}}</td>
            <td>{{data.builder}}</td>
            <td>{{data.casing}}</td>
            <td>{{data.description.substring(0,30)}}...</td>
        </tr>
      </tbody>
    </table>
