<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="createTplModal('Загрузка прайса', loadprice)">Загрузить прайсы</button>
      <button type="button" class="btn btn-sm btn-outline-secondary" >Таблица</button>
    </div>
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Export xlsx</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export pdf</button>
    </div>
  </div>
</div>
<ng-container *ngIf="root | async"> 
  <div class="d-flex header-dashboard justify-content-between">
    <h2>Прайс лист СМ</h2>
    <i class="material-icons" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">filter_list</i>
  </div>

  <div *ngIf="isCollapsed">
    <div class="card card-body">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-outline-secondary">Поиск</button>
              <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Статус</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Наименование</a>
                <a class="dropdown-item" href="#">Артикул</a>
              </div>
            </div>
            <input type="text"  class="form-control" (ngModelChange)='onChange($event)' [ngModel]="searchValue" />
            <!--<input type="text" class="form-control" id="filter" #filter (keyup)="filterFn(filter.value, tree.treeModel)" placeholder="">-->
          </div>
    </div>
  </div>

  <div class="accordion">
    <div class="card" *ngFor="let panel of root | async; let i = index">
      <div class="ant-collapse-header">
        <h2 class="mb-0">
          <button class="btn btn-block text-left" type="button" (click)="nzClick(panel.index)">
            <span class=" anticon ant-collapse-arrow">{{i+1}}. {{panel.name}}</span>
          </button>
        </h2>
      </div>

      <div *ngIf="currentDocument.id === panel.index && currentDocument.show">

          <table *ngIf="(nodes && !(productsLoading$ | async)); else elseBlock" class="table table-striped table-hover table-sm">
            <thead>
              <th>№</th>
              <th>Наименование</th>
              <th>Артикул</th>
              <th>Цена</th>
              <th>Ед. изм.</th>
            </thead>
            <tbody>
              <tr *ngFor="let element of nodes; let i = index">
              <ng-container *ngIf="element.visible">
                <td><span *ngIf="element.articul">{{element.id}}</span></td>
                <td (dblclick)="showSelectProduct(i)" [ngClass]="{'font-weight-bold': !element.articul}">{{element.title}}</td>
                <td>{{element.articul}}</td>
                <td>{{element.price}}</td>
                <td>{{element.unit}}</td>
              </ng-container>
              </tr>
            </tbody>
          </table>
          <ng-template #elseBlock>
            <div *ngIf="currentDocument.id === panel.index " class="loadingio-spinner-spinner-5hp8umbni2k">
              <div class="ldio-96ex39g1grs">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </ng-template>

      </div>

    </div>
  </div>

</ng-container>

<ng-template #loadprice>
    <nz-upload
      nzType="drag"
      nzName="files"
      [nzMultiple]="true"
      nzAction="{{baseUrl}}"
      (nzChange)="handleChange($event)"
      [nzMultiple]=true
    >
      <p class="ant-upload-drag-icon">
        <i class="material-icons">cloud_upload</i>
      </p>
      <p class="ant-upload-text">Click or drag file to this area to upload</p>
      <p class="ant-upload-hint">
        Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files
      </p>
    </nz-upload>
  </ng-template>