<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-calendar">
        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
        <line x1="16" y1="2" x2="16" y2="6"></line>
        <line x1="8" y1="2" x2="8" y2="6"></line>
        <line x1="3" y1="10" x2="21" y2="10"></line>
      </svg>
      This week
    </button>
  </div>
</div>
  <div class="d-flex header-dashboard">
    <a [routerLink]="['/orders']"><i class="material-icons" >undo</i></a>
    <i class="material-icons" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">filter_list</i>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-warning mb-5">Печать</button>
        </div>
          
    </div>
  </div>
  <h5>Содержимое: </h5>
  <table class="table table-striped" *ngIf="currentOrder$ | async">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Код</th>
        <th scope="col">Наименование</th>
        <th scope="col">Количество</th>
        <th scope="col">Цена</th>
        <th scope="col">Сумма</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of currentOrder$ | async; let i = index">
      <tr *ngIf="item.title">
        <th scope="row">{{i + 1}}</th>
        <td>{{item.productId}}</td>
        <td>{{item.title}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price}}</td>
        <td>{{item.sum}}</td>
      </tr>
    </tbody>
  </table>
  <h5>Оплата: </h5>
  <table class="table table-striped" *ngIf="currentOrder$ | async">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Внесено</th>
        <th scope="col">Остаток</th>
        <th scope="col">Дата</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of currentOrder$ | async; let i = index">
      <tr *ngIf="!item.title">
        <th scope="row">{{i + 1}}</th>
        <td>{{item.productId}}</td>
        <td>{{item.sum}}</td>
        <td>{{item.quantity}}</td>
      </tr>
    </tbody>
  </table>