<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-calendar">
        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
        <line x1="16" y1="2" x2="16" y2="6"></line>
        <line x1="8" y1="2" x2="8" y2="6"></line>
        <line x1="3" y1="10" x2="21" y2="10"></line>
      </svg>
      This week
    </button>
  </div>
</div>
  <div class="d-flex header-dashboard">
        <a [routerLink]="['/products']"><i class="material-icons" >undo</i></a>
        <h3>Создание нового элемента</h3>
        <i class="material-icons" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">filter_list</i>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      
    </div>
  </div>

  <div class="d-flex was-validated mb-1">
    <div class="custom-control custom-radio mr-1">
      <input type="radio" class="custom-control-input" id="group" (change)="view = true" name="radio-stacked" required>
      <label class="custom-control-label" for="group">Создать группу</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="position" (change)="view = false" name="radio-stacked" required>
      <label class="custom-control-label" for="position">Создать позицию</label>
    </div>
  </div>
  <form [formGroup]="form" class="mb-1" *ngIf="form" (ngSubmit)="submit()">
    <div class="input-group mb-1">
        <div class="input-group-prepend">
            <span class="input-group-text">Наименование: </span>
        </div>
        <input type="text"  [ngClass]="{'border border-danger' : form.get('title').invalid && form.get('title').touched}" class="form-control mr-1" formControlName="title">
    </div>
    <div class="input-group mb-1" *ngIf="!view">
        <div class="input-group-prepend">
            <span class="input-group-text">Остаток склад: </span>
        </div>
        <input type="number"  [ngClass]="{'border border-danger' : form.get('stock').invalid && form.get('stock').touched}" class="form-control mr-1" formControlName="stock">
    </div>
    <div class="d-flex input-group mb-1" *ngIf="!view">

        <div class="input-group-prepend">
            <span class="input-group-text">Артикул:</span>
        </div>
        <input type="text" class="form-control mr-1" formControlName="articul" type="number" placeholder="Артикул">
    </div>
    <div class="d-flex input-group mb-1" *ngIf="!view">

        <div class="input-group-prepend">
            <span class="input-group-text">Цена товара:</span>
        </div>
        <input type="text" class="form-control mr-1" formControlName="price" type="number" placeholder="Цена">
    </div>
    <div class="d-flex input-group mb-1" *ngIf="!view">
        <div class="input-group-prepend">
            <span class="input-group-text">Цена постащика: </span>
        </div>
            <input type="number" class="form-control" formControlName="trade_price" placeholder="Цена поставщика">
    </div>
    <div class="d-flex input-group mb-1">
        <div class="input-group-prepend">
            <span class="input-group-text" >Группа товара: </span>
        </div>
            <select class="form-control " *ngIf="groups" formControlName="parent">
                <option *ngFor="let el of groups" [value]="el.id">{{el.title}}</option>
            </select>
    </div>
    <div class="d-flex input-group mb-1" *ngIf="!view">
        <div class="input-group-prepend">
            <span class="input-group-text" >Показывать: </span>
        </div>
            <select class="form-control" formControlName="visible" data-toggle="tooltip" data-placement="top" title="Показывать данное наименование в списке товаров в разделе продажи">
                <option [value]="0">Нет</option>
                <option [value]="1">Да</option>
            </select>
    </div>
    <div class="d-flex input-group mb-1" *ngIf="!view">
        <div class="input-group-prepend">
            <span class="input-group-text" >Информация: </span>
        </div>
        <textarea class="form-control" formControlName="info"></textarea>
    </div>
    <div class=" btn-group mt-2">
        <button type="submit" [disabled]="form.invalid" class="btn btn-outline-success mr-1">Добавить</button>
    </div>
  </form>