    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Продажи</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" (click)="showModal('Отчет за ', 2)" [disabled]="!dt" class="btn btn-sm btn-outline-secondary">Отчет</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Печать</button>
        </div>
        <input type="date" min="2021-01-01" [ngModel] ="dt | date:'yyyy-MM-dd'" (ngModelChange)="dt = $event">
      </div>
    </div>
    <div class="table-responsive">
                <div class="header header-dashboard">
                    <div>
                      <i class="material-icons" (click)="showModal('Добавить продажу', 0)">post_add</i>
                      <i class="material-icons" *ngIf="!(currentCassa$ | async)" (click)="showModal('Касса', 1)">how_to_vote</i>
                      <i class="material-icons" (click)="isCollapsed = !isCollapsed">filter_list</i>
                    </div>
                  </div>
                  <div  id="collapseBasic" *ngIf="isCollapsed">
                    123
                  </div>
                  <div class="input-group mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Продажи: </span>
                    </div>
                    <input type="text" placeholder="Продажа" class="form-control border border-success" value="{{sum | currency:'RUB': ' '}}" disabled>
                    <input type="text" placeholder="Возврат" class="form-control border border-danger" value="{{returnSum | currency:'RUB': ' '}}" disabled>
                  </div>
            <table class="table table-bordered table-striped table-sm" *ngIf="sales">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Код</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Шт.</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Сумма</th>
                  </tr>
                </thead>
                <tbody *ngFor="let element of sales; let i = index">
                  <tr>
                    <th scope="row">{{i + 1}}</th>
                    <td>{{element.product.id}}</td>
                    <td>{{element.product.title}}</td>
                    <td>{{element.quantity}}</td>
                    <td>{{element.price | currency:'RUB': ' '}}</td>
                    <td>{{element.sum | currency:'RUB': ' '}}</td>
                  </tr>
                </tbody>
              </table>

    </div>