<form
  [formGroup]="form"
  class="mb-1"
  *ngIf="form"
  (ngSubmit)="submit()"
>
  <div class="input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text cw">Наименование: </span>
    </div>
    <input
      type="text"
      [ngClass]="{
        'border border-danger':
          form.get('title').invalid && form.get('title').touched
      }"
      class="form-control mr-1"
      formControlName="title"
    />
  </div>
  <div *ngIf="type === 'product'" class="input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text cw">Остаток склад: </span>
    </div>
    <input
      type="number"
      [ngClass]="{
        'border border-danger':
          form.get('stock').invalid && form.get('stock').touched
      }"
      class="form-control mr-1"
      formControlName="stock"
    />
  </div>
  <div *ngIf="type === 'product'" class="d-flex input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text cw">Артикул:</span>
    </div>
    <input
      type="text"
      class="form-control mr-1"
      formControlName="articul"
      placeholder="Артикул"
    />
  </div>
  <div *ngIf="type === 'product'" class="d-flex input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text cw">Цена товара:</span>
    </div>
    <input
      class="form-control mr-1"
      formControlName="price"
      type="number"
      placeholder="Цена"
    />
  </div>
  <div *ngIf="type === 'product'" class="d-flex input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text cw">Цена постащика: </span>
    </div>
    <input
      type="number"
      class="form-control"
      formControlName="trade_price"
      placeholder="Цена поставщика"
    />
  </div>
  <div
    *ngIf="form.get('parent').value"
    class="d-flex input-group mb-1"
  >
    <div class="input-group-prepend">
      <span class="input-group-text cw">Группа товара: </span>
    </div>
    <div *ngIf="groups" class="d-flex custom-group">
      <nz-tree-select
        style="width: 100%; height: 100%"
        [nzMultiple]="false"
        nzCheckable
        [nzCheckStrictly]="true"
        formControlName="parent"
        [nzNodes]="groups"
        nzPlaceHolder="Выберите группу"
      >
        <ng-template #nzTreeTemplate let-node>
          <span
            class="ant-tree-node-content-wrapper"
            [class.ant-tree-node-selected]="node.isSelected"
          >
            <span>
              {{ node.title }}
            </span>
          </span>
        </ng-template>
      </nz-tree-select>
    </div>
  </div>
  <div *ngIf="type === 'product'" class="d-flex input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text cw">Показывать: </span>
    </div>
    <select
      class="form-control"
      formControlName="visible"
      data-toggle="tooltip"
      data-placement="top"
      title="Показывать данное наименование в списке товаров в разделе продажи"
    >
      <option [value]="0">Нет</option>
      <option [value]="1">Да</option>
    </select>
  </div>
  <div class="d-flex input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text cw">Информация: </span>
    </div>
    <textarea
      class="form-control"
      formControlName="description"
    ></textarea>
  </div>
  <div
    *ngIf="event === 'correct' && type === 'product'"
    class="d-flex input-group mb-1"
  >
    <div class="input-group-prepend">
      <span class="input-group-text cw">Склад см: </span>
    </div>
    <input
      *ngIf="currentProductCountCm$ | async as count"
      type="text"
      class="form-control"
      value="{{ count.count }}"
      placeholder="склад см"
      [disabled]="true"
    />
  </div>
  <div class="btn-group mt-2">
    <button type="submit" class="btn btn-outline-success mr-1">
      Сохранить
    </button>
    <button
      type="button"
      *ngIf="event === 'correct'"
      (click)="showDeleteConfirm()"
      class="btn btn-outline-danger mr-1"
    >
      Удалить
    </button>
  </div>
</form>
