<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-calendar">
        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
        <line x1="16" y1="2" x2="16" y2="6"></line>
        <line x1="8" y1="2" x2="8" y2="6"></line>
        <line x1="3" y1="10" x2="21" y2="10"></line>
      </svg>
      This week
    </button>
  </div>
</div>
  <div class="d-flex header-dashboard">
    <h2>Должники</h2>
    <i class="material-icons" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">filter_list</i>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary mr-5 mb-5">Добавить</button>
            <button type="button" class="btn btn-outline-success mr-5 mb-5">Открыть</button>
            <button type="button" class="btn btn-outline-warning mb-5">Печать</button>
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-outline-secondary">Поиск</button>
              <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Статус</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Открытые</a>
                <a class="dropdown-item" href="#">Закрытые</a>
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Фамилия Имя Отчество" aria-label="Text input with segmented dropdown button">
          </div>
          <div class="header-time">
            <input type="date" name="trip-start" value="2018-07-22" min="2018-01-01">
            <input type="date" name="trip-start" value="2018-07-22" min="2018-01-01">
            <button class="btn btn-secondary btn-sm">Показать</button>
          </div>
          
    </div>
  </div>

  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ФИО</th>
          <th scope="col">Сумма</th>
          <th scope="col">Оплачено</th>
          <th scope="col">Остаток</th>
          <th scope="col">Дата</th>
          <th scope="col">Пользователь</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Иванов Иван Иванович</td>
          <td>34 094,43</td>
          <td>20 000, 00</td>
          <td>14 094, 43</td>
          <td>20 сентября 2020</td>
          <td>Петров И. А.</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Иванов Иван Иванович</td>
          <td>34 094,43</td>
          <td>20 000, 00</td>
          <td>14 094, 43</td>
          <td>10 сентября 2020</td>
          <td>Петров И. А.</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Иванов Иван Иванович</td>
          <td>34 094,43</td>
          <td>20 000, 00</td>
          <td>14 094, 43</td>
          <td>12 октября 2020</td>
          <td>Петров И. А.</td>
        </tr>
      </tbody>
    </table>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Итог: </span>
      </div>
      <input type="text" placeholder="Общая сумма долга" class="form-control border border-danger" value="42 283, 29">
      
  </div>