<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h4 *ngIf="form !== null && id !== 0 && form.get('description').value !== null" class="mb-md-0">{{form.get('description').value.substring(0, 19)}}</h4>
  <h4 *ngIf="id === 0" class="mb-md-0">Создание новой группы атрибутов</h4>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-calendar">
        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
        <line x1="16" y1="2" x2="16" y2="6"></line>
        <line x1="8" y1="2" x2="8" y2="6"></line>
        <line x1="3" y1="10" x2="21" y2="10"></line>
      </svg>
      This week
    </button>
  </div>
</div>


  <div class="d-flex header-dashboard">
        <a [routerLink]="['/web-attributes']"><i class="material-icons" >undo</i></a>
    <i class="material-icons" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">filter_list</i>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div class="btn-group"></div>
    </div>
  </div>

  <form [formGroup]="form" class="mb-3" *ngIf="form" (ngSubmit)="submit()">
    <div class="d-flex input-group mb-1">
        <div class="input-group-prepend">
            <span class="input-group-text" >Кратно упаковке: </span>
        </div>
            <select class="form-control" formControlName="only_box" data-toggle="tooltip" data-placement="top">
                <option [value]="0">Нет</option>
                <option [value]="1">Да</option>
            </select>
    </div>
    <div class="d-flex input-group mb-1">

        <div class="input-group-prepend">
            <span class="input-group-text">Масса 1 шт (кг):</span>
        </div>
        <input type="text" class="form-control mr-1" formControlName="mass" type="number" placeholder="Масса">
    </div>
    
    <div class="d-flex input-group mb-1">

        <div class="input-group-prepend">
            <span class="input-group-text">Количество в уп.:</span>
        </div>
       
        <input type="text" class="form-control mr-1" formControlName="in_box" type="number" placeholder="Количество в упаковке">
    </div>

    <div  class="d-flex input-group mb-1">
        <div class="input-group-prepend">
            <span class="input-group-text">Ширина мм: </span>
        </div>
        <input type="number" class="form-control" formControlName="width" placeholder="Ширина">
    </div>

    <div  class="d-flex input-group mb-1">
        <div class="input-group-prepend">
            <span class="input-group-text">Толщина мм: </span>
        </div>
        <input type="number" class="form-control" formControlName="height" placeholder="Толщина">
    </div>

    <div class="d-flex input-group mb-1">
        <div class="input-group-prepend">
            <span class="input-group-text">Длина мм: </span>
        </div>
        <input type="number" class="form-control" formControlName="lenght" placeholder="Длина">
    </div>

    <div class="d-flex input-group mb-1">
        <div class="input-group-prepend">
            <span class="input-group-text" >Производитель: </span>
        </div>
            <select class="form-control" formControlName="builder" data-toggle="tooltip" data-placement="top" title="Производитель">
                <option [value]="0">Стелла</option>
            </select>
    </div>

    <div class="d-flex input-group mb-1">
        <div class="input-group-prepend">
            <span class="input-group-text" >Покрытие: </span>
        </div>
            <select class="form-control" formControlName="casing">
                <option *ngFor="let el of casing" [value]="el.id">{{el.title}}</option>
            </select>
    </div>
    <div class="d-flex input-group mb-1">
        <div class="input-group-prepend">
            <span class="input-group-text" >Информация: </span>
        </div>
        <textarea class="form-control" rows='5' formControlName="description"></textarea>
    </div>

    <div class=" btn-group mt-2">
        <button type="submit" [disabled]="form.invalid" class="btn btn-outline-success mr-1">Сохранить</button>
        <button type="button" class="btn btn-outline-danger mr-1" (click)="remove()">Удалить</button>
    </div>
  </form>
