<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" (click)="isVisibleModal = !isVisibleModal" class="btn btn-sm btn-outline-secondary">Внести оплату</button>
      <a [routerLink]="['/orders']" class="btn btn-sm btn-outline-secondary">Закрыть</a>
      <button type="button" (click)="createPDF()" class="btn btn-sm btn-outline-secondary">Печать</button>
      <button type="button" (click)="createCmOrder()" class="btn btn-sm btn-outline-secondary">Создать заявку</button>
    </div>
  </div>
</div>
<ng-container *ngIf="(currentOrder$ | async) as order">
  <h4>Заказ № {{order[0].id}} от {{order[0].data | date:'yyyy-MM-dd'}}</h4>
  <div class="input-group">
    <div class="input-group-prepend w-10">
      <span class="input-group-text w-100" id="basic-addon1">Клиент:</span>
    </div>
    <input type="text" class="form-control" value="{{order[0].client.fullname}}" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
    <div class="input-group-prepend w-10">
      <span class="input-group-text w-100" id="basic-addon1">Сумма заказа:</span>
    </div>
    <input type="text" class="form-control" value="{{order[0].total}}" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
    <div class="input-group-prepend w-10">
      <span class="input-group-text w-100">Оплачено:</span>
    </div>
    <input type="text" class="form-control" value="{{order[0].current}}" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend w-10">
      <span class="input-group-text w-100">Остаток:</span>
    </div>
    <input type="text" class="form-control"  value="{{order[0].total - order[0].current}}" aria-label="Username" aria-describedby="basic-addon1">
  </div>
</ng-container>

  <h5>Содержимое: </h5>
  <table #htmlData class="table table-bordered table-striped" *ngIf="currentOrder$ | async">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Код</th>
        <th scope="col">Наименование</th>
        <th scope="col">Артикул</th>
        <th scope="col">Цена СМ</th>
        <th scope="col">%</th>
        <th scope="col">Количество</th>
        <th scope="col">Цена</th>
        <th scope="col">Сумма</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of (currentOrder$ | async)[0].orderproduct; let i = index">
      <tr *ngIf="item.title">
        <th scope="row">{{i + 1}}</th>
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.articul}}</td>
        <td>{{item.trade_price}}</td>
        <td>{{item.percent}}</td>                      
        <td>{{item.quantity}}</td>
        <td>{{item.price}}</td>
        <td>{{item.sum}}</td>
      </tr>
    </tbody>
  </table>
  <h5>Оплата: </h5>
  <table class="table table-striped" *ngIf="currentOrder$ | async">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Внесено</th>
        <th scope="col">Дата</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of (currentOrder$ | async)[0].orderpay; let i = index">
      <tr>
        <th scope="row">{{i + 1}}</th>
        <td>{{item.payed}}</td>
        <td>{{item.data | date:'yyyy-MM-dd'}}</td>
      </tr>
    </tbody>
  </table>

  <nz-modal [(nzVisible)]="isVisibleModal" [nzAutofocus]="false" nzTitle="Внесение оплаты" (nzOnCancel)="isVisibleModal = !isVisibleModal" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <input type="number" class="form-control" [ngModel] ="sum" (ngModelChange)="sum = $event" placeholder="сумма">
    </ng-container>
  </nz-modal>