<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2" *ngIf="currentDebtor$ | async as currentDebtor">
      <button type="button" *ngIf="currentDebtor.status === 0" (click)="openSelectedDebtor(currentDebtor.id)" class="btn btn-sm btn-outline-secondary">Добавить позицию</button>
      <button type="button" *ngIf="currentDebtor.status === 0" (click)="isVisibleModal = !isVisibleModal" class="btn btn-sm btn-outline-secondary">Внести оплату</button>
      <a [routerLink]="['/debtors']" class="btn btn-sm btn-outline-secondary">Закрыть</a>
      <button type="button" (click)="createPDF()" class="btn btn-sm btn-outline-secondary">Печать</button>
      <button type="button" (click)="createPDFDoc()" class="btn btn-sm btn-outline-secondary">Печать договора</button>
    </div>
  </div>
</div>
<ng-container *ngIf="(currentDebtor$ | async) as debtor">
  <div class="input-group">
    <div class="input-group-prepend w-10">
      <span class="input-group-text w-100" id="basic-addon1">Клиент:</span>
    </div>
    <input type="text" class="form-control" value="{{debtor.client.fullname}}" disabled=true aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
    <div class="input-group-prepend w-10">
      <span class="input-group-text w-100" id="basic-addon1">Сумма заказа:</span>
    </div>
    <input type="text" class="form-control" value="{{debtor.total}}" aria-label="Username" disabled=true aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
    <div class="input-group-prepend w-10">
      <span class="input-group-text w-100">Оплачено:</span>
    </div>
    <input type="text" class="form-control" value="{{debtor.current}}" disabled=true aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend w-10">
      <span class="input-group-text w-100">Остаток:</span>
    </div>
    <input type="text" class="form-control"  value="{{debtor.total - debtor.current}}" disabled=true aria-describedby="basic-addon1">
  </div>
</ng-container>

  <h5>Содержимое: </h5>
  <table #htmlData class="table table-striped" *ngIf="currentDebtor$ | async as cdd">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Код</th>
        <th scope="col">Наименование</th>
        <th scope="col">Количество</th>
        <th scope="col">Цена</th>
        <th scope="col">Сумма</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of cdd.debtorsdata; let i = index">
      <tr>
        <th scope="row">{{i + 1}}</th>
        <td>{{item.id}}</td>
        <td>{{item.product.title}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price | currency:'RUB': ' '}}</td>
        <td>{{item.price*item.quantity | currency:'RUB': ' '}}</td>
      </tr>
    </tbody>
  </table>
  <h5>Оплата: </h5>
  <table class="table table-striped" *ngIf="currentDebtor$ | async as cdd">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Внесено</th>
        <th scope="col">Дата</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of cdd.debtorpayed; let i = index">
      <tr>
        <th scope="row">{{i + 1}}</th>
        <td>{{item.payed | currency:'RUB': ' '}}</td>
        <td>{{item.data | date:'yyyy-MM-dd'}}</td>
      </tr>
    </tbody>
  </table>

  <nz-modal [(nzVisible)]="isVisibleModal" [nzAutofocus]="false" nzTitle="Внесение оплаты" (nzOnCancel)="isVisibleModal = !isVisibleModal" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <input type="number" class="form-control" [ngModel] ="sum" [ngClass]="{'border border-danger': sum < 1}" (ngModelChange)="sum = $event" placeholder="сумма">
    </ng-container>
  </nz-modal>